:host {
  background: url('https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg')
    no-repeat center center fixed;
  background-size: cover;
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.star-wars-logo {
  background: url('https://framerusercontent.com/images/HVzApGKkH6YM1vUO9zOo5lJBC4.jpeg')
    no-repeat center center;
  background-size: cover;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 100;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  width: 100px;
  height: 40px;

  &:hover {
    background: #0056b3;
  }
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: crimson;
}

.disabled {
  background-color: gray;
  cursor: default;

  &:hover {
    background-color: gray;
  }
}

.nav-container {
  display: flex;
  gap: 1rem;
  border-top: 1px solid gray;
  margin-top: 1rem;
  background-color: lightgrey;
  flex-grow: 1;
  padding: 1rem;
  position: sticky;
  bottom: 0;
}

.select-wrapper {
  color: white;
  z-index: 10;
  margin-top: 300px;
  padding: 1rem;

  .input {
    width: 200px;
    padding: 1rem;
    font-size: 20px;
  }
}
