@let columnStyles = { display: 'flex', flexDirection: 'column' };
@let ships = starships.value()?.results;

<div [style]="columnStyles">
  @if (starships.isLoading()) {
    <div class="spinner"></div>
  } @else if (starships.error()) {
    <div [style]="columnStyles">
      <p class="error">There was an error loading the ships...</p>
      <button (click)="starships.reload()">Retry</button>
    </div>
  } @else {
    @for (ship of ships; track ship.name) {
      <p>
        {{ ship.name }}
      </p>
    } @empty {
      <p>No ships to display!</p>
    }
    <button (click)="starships.reload()">Refresh</button>
  }
</div>
<div
  [style]="{
    display: 'flex',
    gap: '1rem',
    paddingBlock: '.5rem',
    borderTop: '1px solid gray',
    marginTop: '1rem',
  }"
>
  @let noMorePrev = !this.starships.value()?.previous;
  <button
    (click)="goToPreviousPage()"
    [disabled]="noMorePrev"
    [class.alt-button]="true"
    [class.disabled]="noMorePrev && !starships.isLoading()"
  >
    Previous
  </button>

  @let noMoreNext = !this.starships.value()?.next;
  <button
    (click)="goToNextPage()"
    [disabled]="noMoreNext && !starships.isLoading()"
    [class.alt-button]="true"
    [class.disabled]="noMoreNext && !starships.isLoading()"
  >
    Next
  </button>
</div>
